<li>
    {{flavor}}
    <button class='change-order' data-id='{{id}}' data-newOrder='{{added}}'>
        {{#if added}}JERKY ADDED!{{else}}Jerky Deleted{{/if}}
    </button>

    <button class="delete-order" data-id="{{this.id}}">DELETE!</button>
</li>